! #include </home/moth/Downloads/JLErvin/dotfiles/xps/.config/colors/orange>
#include </home/moth/.config/colors/wwpop.h>
! #include </home/moth/.config/colors/abw.h>

!-------------------------------------------------------------------------------
! Xft settings
!-------------------------------------------------------------------------------

Xft.dpi:                    96
Xft.antialias:              false
Xft.rgba:                   rgb
Xft.hinting:                true
Xft.hintstyle:              hintslight

!-------------------------------------------------------------------------------
! URxvt settings
! More info at:
! http://pod.tst.eu/http://cvs.schmorp.de/rxvt-unicode/doc/rxvt.1.pod
!-------------------------------------------------------------------------------

URxvt.iso14755: False

URxvt.depth:                32
URxvt.geometry:             100x30
URxvt.transparent:          false
URxvt.fading:               0
! URxvt.urgentOnBell:         true
! URxvt.visualBell:           true
URxvt.loginShell:           true
URxvt.saveLines:            250
URxvt.internalBorder:       3
URxvt.lineSpace:            1

! Fonts
URxvt.allow_bold:           false
!URxvt*font: xft:Monospace:pixelsize=14
!URxvt*boldFont: xft:Monospace:pixelsize=14

! Seems to look best at 24px, but that seems a little big.
URxvt*font: xft:Fixedsys Excelsior 301:pixelsize=24
URxvt*boldFont: xft:Fixedsys Excelsior 301:pixelsize=24

! Fix font space
URxvt*letterSpace: -1

! Scrollbar
URxvt.scrollStyle:          rxvt
URxvt.scrollBar:            false

! Perl extensions
URxvt.perl-ext-common:      default,matcher
URxvt.matcher.button:       1
URxvt.url-launcher:         /usr/bin/xdg-open

! Cursor
URxvt.cursorBlink:          false
URxvt.cursorUnderline:      false

! Pointer
URxvt.pointerBlank:         true

! special
URxvt.foreground:   theme_fg
URxvt.background:   theme_bg
URxvt.cursorColor:  theme_cc

! black
URxvt.color0:       theme_c0
URxvt.color8:       theme_c8

! red
URxvt.color1:       theme_c1
URxvt.color9:       theme_c9

! green
URxvt.color2:       theme_c2
URxvt.color10:      theme_c10

! yellow
URxvt.color3:       theme_c3
URxvt.color11:      theme_c11

! blue
URxvt.color4:       theme_c4
URxvt.color12:      theme_c12

! magenta
URxvt.color5:       theme_c5
URxvt.color13:      theme_c13

! cyan
URxvt.color6:       theme_c6
URxvt.color14:      theme_c14

! white
URxvt.color7:       theme_c7
URxvt.color15:      theme_c14

! ------------------------------------------------------------------------------
! Theme colors. Same as terminal colors for now.
! ------------------------------------------------------------------------------

! Colors
*background:   theme_bg
*foreground:   theme_fg
*color0:      theme_c0
*color8:      theme_c8
*color1:      theme_c1
*color9:      theme_c9
*color2:      theme_c2
*color10:     theme_c10
*color3:      theme_c3
*color11:     theme_c11
*color4:      theme_c4
*color12:     theme_c12
*color5:      theme_c5
*color13:     theme_c13
*color6:      theme_c6
*color14:     theme_c14
*color7:      theme_c7
*color15:     theme_c15

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: theme_bg, cyn_f, theme_bg
rofi.color-normal: theme_bg, theme_fg, theme_bg, cyn_f, theme_fg
rofi.color-active: #fdf6e3, #268bd2, #eee8d5, #268bd2, #fdf6e3
rofi.color-urgent: #fdf6e3, #dc322f, #eee8d5, #dc322f, #fdf6e3
rofi.width: 16
rofi.font: Monospace 12
