[github]
	user = shwnchpl

[user]
	name = Shawn M. Chapla
	email = shawn@chapla.email

[core]
	excludesfile = ~/.gitignore_global

[pull]
	ff = only

[alias]
	pushall = !git remote | grep -ve "^+.*" | xargs -L1 git push

[includeIf "gitdir:**/work*/"]
	path = ~/work/.gitconfig_include
