[github]
	user = shwnchpl

[user]
	name = Shawn M. Chapla
	email = shawn@chapla.email

[core]
	excludesfile = ~/.gitignore_global

[pull]
	ff = only

[includeIf "gitdir:~/work/"]
	path = ~/work/.gitconfig_include
