# Use vim bindings.
set editing-mode vi

# Make tab completion more vim-like.
TAB: menu-complete
set show-all-if-ambiguous on
set menu-complete-display-prefix on

# Make tab completion suggestions easier to read.
set colored-completion-prefix On
set colored-stats On
